@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
  color: #0a0a0a;
}

/* Mobile */
@media (max-width: 1025px) {
  .numpadVisibility {
    display: block !important;
  }
}
